<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/bootstrap2-toggle.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project Raspberry-LED", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>@Html.ActionLink("Router", "Index", "Router")
                        <ul class="submenu router">
                            <li>@Html.ActionLink("Router - Ping", "ping", "Router")</li>
                            <li>@Html.ActionLink("Router - Status", "status", "Router")</li>
                        </ul></li>
                    <li>@Html.ActionLink("Raspberry", "Index", "Raspberry")
                        <ul class="submenu raspberry">
                            <li>@Html.ActionLink("Raspberry - ping", "ping", "Raspberry")</li>
                            <li>@Html.ActionLink("Raspberry - Config", "Config", "Raspberry")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jelle, Mathijs &amp; David</p>
        </footer>
    </div>   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap2-toggle.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var raspberryhubcon;
        var connection_started;
        $(document).ready(function () {
            if ($("#raspberrypi_index_wrapper").length != 0) {
                raspberryhubcon = $.connection.Raspberry;
                connection_started = false;
                raspberryhubcon.client.ErrorChangingLed = function (ledid) {
                    $("#toggle" + ledid).toggle().preventDefault();
                }
                $.connection.hub.start().done(function () {
                    connection_started = true;
                });


            }
        });
        function changeled(ledid) {
            if (connection_started) {
                console.log($(this).checked);
                var ison = ("#ison" + ledid).text;
                console.log(ison);
                raspberryhubcon.server.ChangeLedWeb(ledid, ison);
            }
            else {
                alert("Connection was not established yet")
            }
        }
        function ChangedLeds(ledid, ison) {
            if (connection_started) {
                $("#ison" + ledid).text = ison;
                console.log(ison);
            }
        }
    </script>
</body>
</html>
