@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("saveConfig", "Raspberry", FormMethod.Post))
{
    <h2>Configure LED layout</h2>
    <div id="tablesWrapper">
        <table id="left_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="3t" value="@Model[0].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="3" value="@Model[0].Name" type="text" />

                </td>
            </tr>
            <tr>
                <td>
                    <select name="5t" value="@Model[1].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="5" value="@Model[1].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="7t" value="@Model[2].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="7" value="@Model[2].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="11t" value="@Model[3].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="11" value="@Model[3].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="13t" value="@Model[4].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="13" value="@Model[4].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="15t" value="@Model[5].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="15" value="@Model[5].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="19t" value="@Model[6].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="19" value="@Model[6].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="21t" value="@Model[7].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="21" value="@Model[7].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="23t" value="@Model[8].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="23" value="@Model[8].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="27t" value="@Model[9].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="27" value="@Model[9].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="29t" value="@Model[10].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="29" value="@Model[10].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="31t" value="@Model[11].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="31" value="@Model[11].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="33t" value="@Model[12].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="33" value="@Model[12].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="35t" value="@Model[13].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="35" value="@Model[13].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <select name="37t" value="@Model[14].Name" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
                <td>
                    <input name="37" value="@Model[14].Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>

        </table>
        <table id="right_table">
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="8" value="@Model[15].Name" type="text" />
                </td>
                <td>
                    <select name="8t" value="@Model[15].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="10" value="@Model[16].Name" type="text" />
                </td>
                <td>
                    <select name="10t" value="@Model[16].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="12" value="@Model[17].Name" type="text" />
                </td>
                <td>
                    <select name="12t" value="@Model[17].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="16" value="@Model[18].Name" type="text" />
                </td>
                <td>
                    <select name="16t" value="@Model[18].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="18" value="@Model[19].Name" type="text" />
                </td>
                <td>
                    <select name="18t" value="@Model[19].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="22" value="@Model[20].Name" type="text" />
                </td>
                <td>
                    <select name="22t" value="@Model[20].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="24" value="@Model[21].Name" type="text" />
                </td>
                <td>
                    <select name="24t" value="@Model[21].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="26" value="@Model[22].Name" type="text" />
                </td>
                <td>
                    <select name="26t" value="@Model[22].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="28" value="@Model[23].Name" type="text" />
                </td>
                <td>
                    <select name="28t" value="@Model[23].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="32" value="@Model[24].Name" type="text" />
                </td>
                <td>
                    <select name="32t" value="@Model[24].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="36" value="@Model[25].Name" type="text" />
                </td>
                <td>
                    <select name="36t" value="@Model[25].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="38" value="@Model[26].Name" type="text" />
                </td>
                <td>
                    <select name="38t" value="@Model[26].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="40" value="@Model[27].Name" type="text" />
                </td>
                <td>
                    <select name="40t" value="@Model[27].Type" type="text">
                        <option vulue=""></option>
                        <option value="Button">Button</option>
                        <option value="LED">LED</option>

                    </select>
                </td>
            </tr>
        </table>
    </div>
    <input type="submit" name="saveConfig" id="saveConfig" value="Save layout" />
}