@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("saveConfig", "Raspberry", FormMethod.Post))
{
    <h2>Configure LED layout</h2>
    <div id="tablesWrapper">
        <table id="left_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="3" value="@Model[0].color" type="text" />

                </td>
            </tr>
            <tr>
                <td>
                    <input name="5" value="@Model[1].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="7" value="@Model[2].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="11" value="@Model[3].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="13" value="@Model[4].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="15" value="@Model[5].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="19" value="@Model[6].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="21" value="@Model[7].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="23" value="@Model[8].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="27" value="@Model[9].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="29" value="@Model[10].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="31" value="@Model[11].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="33" value="@Model[12].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="35" value="@Model[13].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="37" value="@Model[14].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>

        </table>
        <table id="right_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="8" value="@Model[15].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="10" value="@Model[16].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="12" value="@Model[17].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="16" value="@Model[18].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="18" value="@Model[19].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="22" value="@Model[20].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="24" value="@Model[21].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="26" value="@Model[22].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="28" value="@Model[23].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="32" value="@Model[24].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="36" value="@Model[25].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="38" value="@Model[26].color" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="40" value="@Model[27].color" type="text" />
                </td>
            </tr>
        </table>
    </div>
    <input type="submit" name="saveConfig" id="saveConfig" value="save current configuration" />
}