@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="raspberrypi_index_wrapper">
    <p>@ViewBag.ErrorMessage</p>
    <h1>Raspberry Pagina</h1>
    <p>Welkom bij Raspberry controller</p>
    <div id="musicUpload">
        @using (Html.BeginForm("Upload", "Raspberry", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>Select a already uploaded file</p>
            <select name="SelectedFileID">
                @foreach (var item in Model[1])
                {
                    <option value="@item.ID">@item.Alias</option>
                }
            </select>

            <p>Upload a new file:</p>
            <input type="text" name="Alias" id="Alias" placeholder="Enter file alias here" />
            <input type="file" name="file"/>

            <br/>

            <p>Upload subtitles:</p>
            <input type="text" name="Sub" id="Sub" placeholder="Enter .srt file here" />
            <input type="file" accept=".srt,.ass" name="Sub"/>

            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
    @foreach (var item in Model[1])
    {
        <p>@item.ID</p>
        <p>@item.FileName</p>
        <p>@item.Alias</p>
        <p>@item.Type</p>
    }
    <div class="buttons">
        @foreach (var item in Model[0])
        {
            if (item.isSet)
            {
                var state = item.isOn ? "On" : "Off";
                var itemlabel = "ison" + @item.ID;
                <label class="Button" onclick="changeled(@item.ID)">
                    <p id="@itemlabel">@state</p>
                    <p>@item.color</p>
                </label>
            }
        }
    </div>
</div>