@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@ViewBag.ErrorMessage</p>
<h1>Raspberry Pagina</h1>

<p>Welkom bij Raspberry controller</p>
<div id="musicUpload">
    @using (Html.BeginForm("Upload", "Raspberry", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>

<div class="buttons">

    @foreach (var item in Model)
    {
        if (item.isSet)
        {
            var link = "/Raspberry/ChangeLed/" + item.pinnumber;
            var state = item.isOn ? "on" : "off";
            <form action=@link>
                @if (item.color == "red")
                {
                    <label class="RedButton">
                        <p>@state</p><input style="display: none;" type="submit" />
                    </label>
                }

                @if (item.color == "blue")
                {
                <label class="BlueButton">
                    <p>@state</p><input style="display: none;" type="submit"/>
                </label>
                }

                @if (item.color == "green")
                {
                    <label class="GreenButton">
                        <p>@state</p><input style="display: none;" type="submit" />
                    </label>
                }

                @if (item.color == "rbg")
                {
                    <label class="RBGButton">
                        <p>@state</p><input style="display: none;" type="submit" />
                    </label>
                }
            </form>
        }
    }
</div>
