@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="raspberrypi_index_wrapper">
    <p>@ViewBag.ErrorMessage</p>
    <h1>Raspberry Pagina</h1>
    <p>Welkom bij Raspberry controller</p>
    <div id="musicUpload">
        @using (Html.BeginForm("Upload", "Raspberry", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>Select a already uploaded file</p>
            <select name="SelectedFileID">
                @foreach (var item in Model[1])
                {
                    <option value="@item.ID">@item.Alias</option>
                }
            </select>

            <p>Upload Audio/Movie and subs file:</p>
            <input type="text" name="Alias" id="Alias" placeholder="Enter file alias here" />
            <input type="file" name="file" multiple="multiple" />

            <br />

            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
    <div class="buttons">
        @foreach (var item in Model[0])
        {
            if (!item.isSet)
            {
                continue;
            }
            var state = item.isOn ? "On" : "Off";
            var itemlabel = "ison" + item.PinNumber;
            if (item.Type == "LED")
            {
                <label class="LED" onclick="changeled(@item.ID)">
                    <p id="@itemlabel">@state</p>
                    <p>@item.Name</p>
                </label>
            }
            if (item.Type == "Button")
            {
                <label class="Button">
                    <p id="@itemlabel">@state</p>
                    <p>@item.Name</p>
                </label>
            }
        }
    </div>
</div>